/* position (mobile) navigation. Omitting this results in slow closing of mobile menu on button click (omitting triggers a reflow) */
.mainNavigation {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

/* hide (sub)menu(s) */
.mainNavigation--menu,
.mainNavigation--subMenu {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

/***************************************** Menu toggle button */

.mainNavigation--toggle {
	background-color: #fff;
	border: 1px solid #000;
	height: 44px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 44px;
}

.mainNavigation--toggle:after {
	box-shadow: 0 10px 0 1px #000, 0 16px 0 1px #000, 0 22px 0 1px #000;
	content: "";
	display: block;
	height: 0;
	position: absolute;
	right: 13px;
	top: 6px;
	width: 16px;
}

.mainNavigation--toggle.is-active:after {
	box-shadow: none;
	color: #000;
	content: "\2715";
	font-size: 24px;
	line-height: 33px;
	left: 12px;
}

/***************************************** Main Navigation */

.mainNavigation--menu {
	background-color: #fff;
	box-shadow: 2px 3px 10px rgba(0,0,0,.2);
	position: absolute;
	top: 63px;
	width: 100%;
	z-index: 100;
}

.mainNavigation--menuItem {
	border-top: 1px solid #ccc;
	position: relative;
}

.mainNavigation--menuItem a {
	display: block;
	padding: 12px 15px;
}

/***************************************** is-active navigation */

/* show menu on toggle */
.mainNavigation--menu.is-active,
.mainNavigation--subMenu.is-active {
	display: block;
}

/***************************************** Submenu toggle button */
.mainNavigation--subMenuToggle {
	background: #fff;
	border: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 42px;
}

.mainNavigation--subMenuToggle:after {
	color: #000;
	content: "\25BE";
	font-size: 24px;
	line-height: 43px;
	width: 42px;
}

.mainNavigation--subMenuToggle:focus {
	background-color: #eaeaea;
	background-color: rgba(51, 51, 51, 0.1);
	outline: 1px solid #c1c1c1;
	outline: 1px solid rgba(51, 51, 51, 0.3);
}

.mainNavigation--subMenuToggle.is-active:after {
	content: "\25B2";
	font-size: 14px;
}

/***************************************** Submenu */
.mainNavigation--subMenu {
	padding-left: 15px;
}

.mainNavigation--subMenu--menuItem {
	border-top: 1px solid #ccc;
	position: relative;
}
